body {
	background: #21243B;
}

canvas {
	border: 5px solid white;
}

@keyframes innerSpark{
	5%{
		opacity: 0;
		visibility: hidden;
		transform: scale(0,0);
	}
	15%{
		opacity: 1;
		visibility: visible;
		transform: scale(.5,.5);
	}
	100%{
		opacity: 0;
		visibility: hidden;
		transform: scale(1,1);
	}
}
#inner{
	transform-origin: 200px 200px;
	display: block;
	visibility: hidden;
	animation: innerSpark 4s ease-in-out forwards;
}

@keyframes outerSpark{
	10%{
		opacity: 0;
		visibility: hidden;
		transform: scale(0,0);
	}
	17%{
		opacity: 1;
		visibility: visible;
		transform: scale(.5,.5);
	}
	100%{
		opacity: 0;
		visibility: hidden;
		transform: scale(1,1);
	}
}
#outer{
	transform-origin: 200px 200px;
	display: block;
	visibility: hidden;
	animation: outerSpark 4s ease-in-out forwards;
}

@keyframes fireworkDown{
	0%{
		transform: translateY(200px);
	}
	100%{
		transform: translateY(600px);
	}
}
#firework{
	animation: fireworkDown 4s cubic-bezier(.14,.59,0,-1.92);
}